/* Color Combos
    #1f1641
    #012172
    #0486db
    #05acd3
    #bbbf95 */

* {
    margin: 0;
    padding 0;
    box-sizing: border-box;
}

li {
    list-style: none outside;
    display: inline;
    vertical-align: baseline;
    background: transparent;
}
ul{
    list-style: none outside;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
    justify-content: space-evenly;
    position: sticky;
}

.main_menu {
    font-size: 20px;
    /* position: fixed;
    top: 0;
    width: 100%; */
}

/* nav {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
} */

