/* Color Combos
    #1f1641
    #012172
    #0486db
    #05acd3
    #bbbf95 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #05acd3;
    font-size: 14px;
}

.main_body {
    max-width: 950px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    position: relative;
    padding-top: 0;
    width: 100%;
}

li {
    list-style: none outside;
    display: inline;
    vertical-align: baseline;
    background: transparent;
}

footer  {
    background-color: #bbbf95;
    color: #012172;
}

.footer_container  {
    background-color: #bbbf95;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #012172;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-evenly;
    overflow: hidden;
}

.sponsor_group {
    width: 100%;
}

em {
    color: #bbbf95;
}

p a {
    color: white;
}

li a {
    text-decoration: none;
    color: #bbbf95;
}

a {
    text-decoration: none;
}

a.active {
    background-color: #0486db;
    color: white;
    padding: 0.5rem;
}

a:hover {
    text-decoration: underline;
    color: white;
}

.content {
    font-size: 1.3rem;
    margin-top: 6rem;
}

.header_list {
    list-style: none outside;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}


.header_nav_list {
    list-style: none outside;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-evenly;
    position: sticky;
}

#mainList {
    background-color: #1f1641;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem;
    z-index: 999;
}

.main_menu {
    font-size: 1.65rem;
    overflow: hidden;
}

.main_images img {
    width: 100%;
    z-index: 0;
    margin-top: 0;
    max-height: 695px;
}

.container {
    margin: 0 auto;
    background-color: white;
    width: 100%;
}

.form {
    margin: 0 auto;
    width: 100%;
}

.body_width_container {
    margin: 0 auto;
    max-width: 950px;
}

.post_entry {
    display: flex;
    flex-direction: row;
    padding-top: 2rem;
    padding-bottom: 2rem;
    /* max-width: 950px; */
    /* margin-top: 1rem;
    margin-right: auto;
    margin-bottom: 1rem;
    margin-left: auto; */
}

.main_image_container {
    max-width: 50%;
}

.main_image_container img {
    width: 100%;
}

.container_text {
    max-width: 50%;
    padding-left: 2rem;
}

.form_text {
    max-width: 50%;
    padding-left: 2rem;
    text-align: center;
}

.form_entries {
    max-width: 100;
    size: 100;
    height: 2rem;
}

#message {
    height: 9rem;
}

.sponsor_row {
    display: flex;
    flex-direction: row;
}

.sponsor_image {
    width: 11rem;
    height: 6rem;
    padding: 0.8rem;
}

#navbar li a {
    display: block;
  text-align: center;
}